body {
	background: #232323;
}

p {
	color: #616161;
}

.meta-bar {
	z-index: 400
}

.page-intro {
    margin: 50px 0 25px;
}

.container-top {
	margin-bottom: 50px;
}

.page-header {
	border-color: #4f9edd;
}

.planet:hover {
	background: rgba(141, 186, 244, 0);
	cursor: pointer;
	opacity: 1;
	border: 5px solid #fff;
}

.planets {
	width: 100%;
	overflow: auto;
}

.planets circle {
	cursor: pointer;
}

.legend, .btn-group-filter {
	float: left;
}

.btn-group-filter {
	margin-right: 10px;
}

.btn-group-filter .btn, label {
	background: #232323;
	color: #fff
}

.legend li {
	color: #fff;
	float: left;
	list-style: none;
	line-height: 30px;
	margin-right: 30px;
}

.legend li .legend-earth,
.legend li .legend-planet {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 2px solid #0071ff;
	float: left;
	margin-right: 5px;
}

.legend li .legend-planet {
	background: rgba(145, 244, 184, 0.5);
	border: 0;
}

.meta-container {
	position: absolute;
	left: 0;
	margin: 50px 0 0 50px;
	background: rgba(35, 35, 35, .8);
	z-index: 500;
	border-radius: 5px;
	padding: 15px;
}

.meta-container pre {
	background: transparent;
	border: 0;
	padding: 0;
	color: #ffffff;
}

.footer {
	width: 100%;
	padding-top: 10px;
}

.footer p {
	text-align: center;
	color: #969696;
}